{% extends 'recommendation/base.html' %}
{% load static %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'recommendation:index' %}"><img style="width: 100px;"
                            src="{% static 'recommendation/images/symdev_logo.jpeg'%}" alt=""></a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

            <ul class="navbar-nav">
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url 'recommendation:sign_up' %}"><button
                            type="button" class="btn btn-outline-success btn-sm">SIGN UP</button></a>
                </li>                
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
{% endblock header %}
{% block main %}
<style>
    body {
        text-align: center;
        background: #ecf0f3;
        margin-top: 128px;
    }

    .container {
        border-radius: 20px;
        padding: 64px;
        box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    }

    a {
        color: white;
    }

    input,
    select {
        background: #ecf0f3;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
</style>

<div class="container my-5 col-lg-6">
    <h3 class="text-center m-4">LOG IN</h3>

    {% for message in messages %}
    <div class="alert alert-primary" role="alert">{{ message }}</div>
    {% endfor %}

    <form method="post" role="form" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row ">
            <div class="form-group col-md-12">
                <label for="username">Username</label>
                <input id="username" maxlength="32" class="form-control" name="username" type="text"
                    placeholder="your username" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="password">Password</label>
                <input id="password" maxlength="30" class="form-control" placeholder="your password" name="password"
                    type="password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
        <button type="reset" class="btn btn-success mx-4 ">Reset</button>
        <button class="btn btn-danger "><a href="{% url 'recommendation:sign_up'%}">Sign Up</a></button>
    </form>
</div>
{% endblock %}