{% extends "recommendation/base.html "%}
<!-- {% load crispy_forms_tags %} -->
<!-- {% block content %} -->
<!-- <h1>You are logged in as your {{user.email}} name is {{ user.username }}</h1> -->
<!-- <h2>helooo kashmir</h2> -->
<!-- <div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url   }}" alt="">
        <div class="media-body"> -->
            <!-- <h2 class="account-heading">{{user.username}}</h2> -->
            <!-- <p class="text-secondary">{{user.email}}</p> -->
<h1>hyt tyu</h1>
        <!-- </div>
    </div>

</div> -->
<!-- {% endblock content%} -->