{% extends 'recommendation/base.html'%}
{% block main %}
<div class="container text-center">
    <h2>Searches</h2>
    <div class="row">
        {% for movie in movies %}
        <div class="col-sm-3 my-1">
            <div class="card">
                <img src="{{movie.poster.url}}" alt="poster" class="card-img-top " style="height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.genre__set.all}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>   
        {% endfor %}
    </div>
</div>
{% endblock main %}