{% extends 'recommendation/base.html' %}
{% load static%}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'recommendation:index' %}"><img style="width: 100px;"
                            src="{% static 'recommendation/images/symdev_logo.jpeg'%}" alt=""></a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% if not request.user.is_authenticated %}                
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url 'recommendation:log_in' %}"><button
                            type="button" class="btn btn-outline-primary btn-sm">LOG IN</button></a>
                </li>                
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
{% endblock header %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'recommendation/CSS/style1.css'%}">

<div class="container my-5 col-lg-6">
    <h3 class="text-center m-4">REGISTER</h3>
    {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <span class="text-danger small">{{ field.errors }}</span>
        <div class="form-group">
            <label class="control-label">{{ field.label_tag }}</label>
            <div class="">{{ field }}</div>
        </div>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary p-1">Sign Up</button>
            <button type="reset" class="btn btn-success p-1 mx-2">Reset</button>
            <button class="btn btn-danger p-1"><a href="{% url 'recommendation:log_in'%}">Log In</a></button>

        </div>
    </form>


</div>
{% endblock %}