body {
    text-align: center;
    background: #ecf0f3;
    margin-top: 45px;
}

a {
    color: white;
}

.container {
    border-radius: 20px;
    padding: 64px;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

input,
select {
    background: #ecf0f3;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}